

.ng-select.custom .ng-select-container  {            
    /* color: #000000;
    background-color: #ffffff;
    border-radius: 20px;
    border: #62ACA7 1px solid;
    min-height: 38px;
    align-items: center;  */
    min-width: 100px !important;

    color: var(--fy-black);
    background-color: var(--fy-white);
    border-radius: var(--fy-border-radius-input);
    border: var(--fy-primary) 1px solid;
    min-height: 38px;
    align-items: center;
}

.ng-select.custom .ng-select-container:hover  {  
    /* color: #333;
    border-radius: 20px;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.247);
    min-height: 38px;
    align-items: center; */

    border: var(--fy-primary) 1px solid;
    box-shadow: var(--fy-box-shadow-input);
}


.text {
    border-radius: 20px;
    width: 100%;
    height: 38px;
}
