#btn-mas{
    display: none;
}
.container-menu{
    position: fixed;
    bottom: 20px;
    left:  20px;
}
.options a{
    display: block;
    text-decoration: none;
    /* background: #cc2b2b; */
    background-image: linear-gradient(310deg, #7928CA 0%, #FF0080 100%);
    color: #fff;
    width: 45px;
    height: 45px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: var(--fy-box-shadow);
    transition: all 500ms ease;
}

.btn-mas label{
    display: block;
    text-decoration: none;
    /* background: #cc2b2b; */
    background-image: linear-gradient(310deg, #7928CA 0%, #FF0080 100%);
    color: #fff;
    width: 45px;
    height: 45px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: var(--fy-box-shadow);
    transition: all 500ms ease;
}
.options a:hover{
    /* background: #fff;
    color: #cc2b2b; */
    color: white;
    background-image: linear-gradient(310deg, #5a1f94 0%, #be005f 100%);
}
.options a{
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}
#btn-mas:checked~ .options a{
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}
.btn-mas label{
    cursor: pointer;
    /* background: #f44141; */
    background-image: linear-gradient(310deg, #7928CA 0%, #FF0080 100%);
    font-size: 23px;
}
#btn-mas:checked ~ .btn-mas label{
    transform: rotate(135deg);
    font-size: 25px;
}

.icon-options{
    font-size: 22px;
}