<div class="container-menu" >
    <input type="checkbox" id="btn-mas">
    <div class="options">
        <a  (click)="gestionClientes()"
        href="javascript:void(0);" >
            <span class="material-icons icon-options">
                group_add
            </span>
        </a>
        <a (click)="gestionAsesores()"
        href="javascript:void(0);" >
        <span class="material-icons icon-options">
            support_agent
        </span>
        </a>
      
    </div>
    <div class="btn-mas">
        <label for="btn-mas" >
            <span class="material-icons" style="font-size: 27px !important; ">
                add
            </span>
        </label>
    </div>
</div>
