<!-- <div class="wrapper">
  
    
  
  </div> -->



  <div class="area" >
    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
    <div class="loader-box">
        <div class="loader">
          
        </div>
        <div class="loader-text text-center">
          <div class="m-2 text-center">
            {{messageSpinnerBg}}
          </div>
        
        </div>
      </div>
</div >