<div class="container-movie">
    <div [style.background-image]="'url(' + img + ')'" class="bg-img-movie">
        <div class="bg-grad-movie">
            <span class=" material-icons info-movie " rel="tooltip" title="{{textInfo}}">
                add
            </span>
            <span  (click)="starVideo()" class=" material-icons play-movie ">
                play_arrow
            </span>
            <div class="  mx-2  bg-text-movie" style="color: var(--fy-primary-dark);">
                {{textTitle}}
                <br>
                <hr style="color: rgb(51, 51, 51); margin-top: 2px !important; margin-bottom: 2px !important;" class="mp0">
                <div class="row">
                    <div class="col-auto">
                        <p style="color: var(--fy-primary); font-size: 13px; margin-bottom: 0px !important;">
                            {{ ncursos }} cursos
                        </p>
                    </div>
                    <div class="col">
                        <p
                            style="text-transform: uppercase; color: var(--fy-primary); font-size: 13px; float:right; margin-bottom: 0px !important;">
                            {{genero}}
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>