

<div class="container">
  <div class="row m-0-p-0">
    <div class="col-12 m-0 p-0">
     <ng-content select="[fy-nabvar]"></ng-content>
    </div>
    <div class="row mp-0">
      <div class="col-auto m-1">
        <ng-content select="[fy-button-lider]"></ng-content>
      </div>
      <div class="col-auto m-1">
        <ng-content select="[fy-button-equipo]"></ng-content>
      </div>
      <div class="col"></div>
      <div class="col-auto m-1">
        <ng-content select="[fy-button-link]"></ng-content>
      </div>
    </div>
    <div class="col-12 m-0 p-0">
      <ng-content select="[fy-off-canvas]"></ng-content>
      <ng-content select="[fy-main]"></ng-content>
      <ng-content select="[fy-licences]"></ng-content>
      <ng-content select="[fy-movies]"></ng-content>
      <ng-content select="[fy-courses]"></ng-content>
      <ng-content select="[fy-libros]"></ng-content>
      <ng-content select="[menu-float]"></ng-content>
      
     
    </div>
    <div class="col-12 m-0 p-0">
      <ng-content select="[admin]"></ng-content>
    </div>
  </div>
</div> 




