.card {
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: var(--fy-white);
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 125);
    border-radius: var(--fy-border-radius);
    box-shadow: var(--fy-box-shadow);

}

/* .card:hover{
    background-color: rgba(241, 240, 240, 0.445);
} */

.text-capitalize {
    text-transform: capitalize !important;
}

.font-weight-bold {
    font-weight: 600 !important;
}




.icon-arrow-card-date {
    color: var(--fy-info) !important;
    font-weight: 400 !important;
}


.icon-arrow-card-date:hover{
    color: blue !important;
    cursor: pointer !important;
}

.icon-plus--date{
    color: var(--fy-success) !important;  
}

.icon-plus--date:hover{
    color: green !important;  
}

.bg-icon-card {
    border-radius: var(--fy-border-radius);
    min-width: 48px;
    min-height: 48px ;
    background-position: center;
    background-image: linear-gradient(310deg, #7928CA 0%, #FF0080 100%);
    box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.12) !important;
}

.icon-card {
    color: #fff;
    opacity: 0.8;
    top: 11px;
    position: relative;
    font-size: 1.5rem !important;
    opacity: 1 !important;
}










